
header {
    display: flex;
    background-color: black;
    color: white;
}
.logo {
    /* box-sizing: border-box; */
    border: 1px solid wheat;
    margin: 8px;
    padding: 10px;
    font-size: 18px;
    width: 120px;
    height: 40px;
}

li {
    list-style-type: none;
}

.nav-items {
    display: flex;
    column-gap: 8px;
}

footer {
    background-color: black;
    color: white;
}

.footer-block1 {
    display: flex;
}

.footer-block3 {
    display: flex;
}