* {
    margin: 0px;
}
header, main, footer {
    max-width: 1600px;
}

header {
    display: flex;
    background-color: black;
    color: white;
}
.logo {
    /* box-sizing: border-box; */
    border: 1px solid wheat;
    margin: 8px;
    padding: 10px;
    font-size: 18px;
    width: 120px;
    height: 40px;
}

li {
    list-style-type: none;
}

.nav-items {
    display: flex;
    column-gap: 8px;
}

/* orange button  */

.orange-button {
    background-color: orange;
    color: white;
    width: 298px;
    height: 54px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}

.orange-button-radius {
    background-color: orange;
    color: white;
    width: 298px;
    height: 54px;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
}

/* BLOCK 2 */

.panda {
    height: 1600px;
    width: 780px;
    z-index: 1;
}
.block2-elipse {
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background-color: orange;
    z-index: 2;
}
.block2-text {
    background-color: aquamarine;
    color: white;
    z-index: 3;
}
.block2-text-yellow{
    color: yellow;
}

/* BLOCK 3 */
.block3 {
    display: flex;
}
.block3-container {
    display: flex;
    width: 1160px;
    padding-left: 200px;
    z-index: 1;
}
.block3-img {
    width: 45%;
    /* margin-left: 100px; */
}

.block3-content {
    width: 25%px;
    box-sizing: border-box;
}

.block3-flower1 {
    margin-right: 0px;
    z-index: 2;
}

/* BLOCK 4  */
.block4-container {
    width: 1160px;

}
.block4-card-image {
    height: 366px;
    width: 366px;
}

.block4-card-info-wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}
.block4-card-name {
    font-size: 26px;
    font-weight: 300;
}

.block4-card {
    border: 2px black solid;
    width: 366px;
}



/* BLOCK 5 */

.block5 {
    background-color: #FEBDAB;
}
.block5-container {
    background-color: #FDFDFF 52%;
    width: 1160px;
    height: 835px;
    opacity: 90%;
}
.block5-tytle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 40px;
    color: orange;

}

.block5-part2 {
    display: flex;
}

.b5-widjet1, .b5-widjet2, .b5-widjet3 {
    width: 168px;
    height: 168px;
    background-color: white;
    border-radius: 5px;
}


/* BLOCK 6 */

.block6 {
    width: 1160px;
}

.block6-main {
    display: flex;
    justify-content:space-evenly;
}

.b6-items {
    width: 22%;
    padding: 8px;
    border: 2px solid blue;
    border-radius: 5%;
}


/* FOOTER */
footer {
    background-color: black;
    color: white;
}

.footer-block1 {
    display: flex;
}

.footer-block3 {
    display: flex;
}